body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

#idInput {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 20px; /* Tamaño de fuente mayor */
  text-align: center; /* Centrado del texto */
}

button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#camposBusqueda {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#camposContainer {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

@media screen and (min-width: 600px) {
  /* Estilos para pantallas más grandes */
  #idInput, button {
    max-width: 400px;
  }
}

@media screen and (min-width: 900px) {
  /* Estilos para pantallas aún más grandes */
  #idInput, button {
    max-width: 500px;
  }
}
